.hotels_parent_div {
  background: url("../../accets/hotelsPhotos/hotelsBannerPhoto.jpg");
  background-color: rgba(0, 0, 0, 0.404);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  height: 65vh;
  width: 100%;
  background-attachment: fixed;
}

.hotels_parent_div h1 {
  color: white;
  position: absolute;
  margin-left: 850px;
  margin-top: 200px;
  font-size: 30px;
  font-weight: 600;
}
.welcome_to_musafir {
  width: 76%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}
.hotels_text_img_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;
  gap: 50px;
  margin: auto;
}
.hotels_text_div {
  text-align: left;
}

.hotels_text_p {
  margin-bottom: 30px;
  line-height: 30px;
}
.at_musafir_text-div {
  text-align: left;
  width: 75%;
  margin: auto;
  margin-top: 50px;
}
.hotels_text_lst_p {
  line-height: 30px;
  margin-top: 0;
}
.hotels_cart_img {
  height: 250px;
  width: 100%;
}

@media screen and (max-width: 1650px) {
  .hotels_parent_div h1 {
    margin-left: 750px;
  }
}
@media screen and (max-width: 1550px) {
  .hotels_parent_div h1 {
    margin-left: 700px;
  }
}
@media screen and (max-width: 1450px) {
  .hotels_parent_div h1 {
    margin-left: 600px;
  }
}
@media screen and (max-width: 1250px) {
  .hotels_parent_div h1 {
    margin-left: 530px;
  }
}
@media screen and (max-width: 1200px) {
  .tourPackage_greed_cart_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1100px) {
  .hotels_parent_div h1 {
    margin-left: 450px;
  }
}
@media screen and (max-width: 950px) {
  .hotels_parent_div h1 {
    margin-left: 420px;
  }
}
@media screen and (max-width: 900px) {
  .hotels_parent_div h1 {
    margin-left: 380px;
  }
}
@media screen and (max-width: 800px) {
  .hotels_parent_div h1 {
    margin-left: 330px;
  }
  .tourPackage_greed_cart_div {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 700px) {
  .hotels_parent_div h1 {
    margin-left: 250px;
  }
}
@media screen and (max-width: 550px) {
  .hotels_parent_div h1 {
    margin-left: 200px;
  }
}
@media screen and (max-width: 450px) {
  .hotels_parent_div h1 {
    margin-left: 150px;
  }
}
@media screen and (max-width: 400px) {
  .hotels_parent_div h1 {
    margin-left: 110px;
  }
}
@media screen and (max-width: 350px) {
  .hotels_parent_div h1 {
    margin-left: 100px;
    font-size: 20px;
  }
}
@media screen and (max-width: 300px) {
  .hotels_parent_div h1 {
    margin-left: 60px;
    font-size: 20px;
  }
}
@media screen and (max-width: 250px) {
  .hotels_parent_div h1 {
    margin-left: 50px;
    font-size: 17px;
  }
}
